* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}

.header {
    background-color: #1a1a1a;
    padding-top: 36px;
    padding-bottom: 200px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
}


.navigation-holder {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.nav-links a {
    text-decoration: none;
    color:#d1d1d1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}

.header-title {
    margin-top: 110px;
    margin-bottom: 80px;
    position: relative;
}

.header-subtitle-text {
    display: inline-block;
    border-left: 1px solid #8c8c8c;
    padding: 8px 0 8px 20px;
    color: #8c8c8c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.5px;
    margin-bottom: 13px;
}

.header-title-text {
    font-size: 90px;
    font-weight: bold;
    color: #fff;
    max-width: 620px;
    line-height: 1;
}

.join {
    background-color: #FEBE02;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 110px;
    height: 110px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    border-radius: 6px;
}

.course-section-title {
    font-weight: 600;
    font-size: 70px;
    color: #1a1a1a;
    margin: 60px 0;
}

.course-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.card-big {
    width: 540px;
}

.card-small {
    width: 360px;
}

.img-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-left: 20px;
}

.img-card-1 {background-image: url(/img/card-1.png);}

.btn-time {
    background-color: #fff;
    border-radius: 5px;
    color: #111;
    padding: 6px 12px;
    display: inline-block;
    margin-right: 8px;
}

.btn-raiting {
    width: 77px;
    background-color: #111;
    border-radius: 5px;
    color: #fff;
    padding: 6px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    background-color: #f5f6f8;
    padding: 60px 0;
}

.course-info-title {
    font-weight: 600;
    font-size: 70px;
    color: #1a1a1a;
    padding-bottom: 40px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #939495;
    padding: 30px 0;
}

.left-block {
    display: flex;
    align-items: center;
}

.course-number {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #a2a2a4;
}

.course-block {
    margin-left: 60px;
    line-height: 1.5;
}

.course-name {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 0.8px;
    color: #000000;
}

.course-count {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #9a9a9b;
}


